html, body {
  height: 100%;
}

body {
  font-size: 16px;
  color: #fff;
  display: flex; /*to make footer at the bottom*/
  flex-direction: column; /*to make footer at the bottom*/
}
th.ex {
  color: rgb(204,0,0);
  font-size: 24px;
}


/* FOOTER */
.panel-footer {
  margin-top: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #222831;
  width: 100%;
  flex-shrink: 0;

}
.panel-footer a {
  font-weight: bold;
}
/* END FOOTER */

/*Weather Station Page*/
#main-content {
  margin-left: auto;
  margin-right: auto;
  flex: 1 0 auto; /*to make footer at the bottom*/
}

#weatherStationTitle, #weatherStationInfo  {
  color: gray;
}


/*data box styling*/

.boxContainer {
  z-index:1; 
  position: relative;
  background-color: #61d4b3;
  border: 1px solid #FFF;
  width: 100%;
  height: 200px;
  margin: 10px;
  border-radius: 35px;
  overflow: hidden;
  /*flex property to fit elements*/
  display: flex;
  transition: height 1s ease;
}
.dataBox { 
  z-index: 2;
  position: relative; /*so we can anchor the <span> relatively*/
  background-color: #fdd365;
  border: 1px solid #FFF;
  width: 100%;
  height: 200px;
  border-radius: 35px;
  /*flex property to fit elements*/
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}


.chartTitle {
  flex: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid #FFF;
}

.chart {
  flex-grow: 1;
  margin-left: 20px;
  margin-bottom: 30px;

}

.chartInfo {
  flex-grow: 2;
  margin: auto;
  margin-right: 50px;
  text-align: center;
  font-weight: bold;
}

.chartHover {
  flex: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #FFF;
  border-top: 2px solid #FFF;
}

.hoverInfo { 
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color: #FFF;
  margin: 15px 10px;
  margin-top: 200px;
  word-wrap: break-word;
  margin-top: 200px;
}



.boxContainer:active,
 .boxContainer:focus {
  box-shadow: 0 1px 5px 1px #cccccc;
  height: 400px;
}

.boxContainer:active .hoverInfo,
 .boxContainer:focus .hoverInfo {
}
/*End of Weather Station Page*/






