html, body {
  height: 100%;
}

body {
  font-size: 16px;
  color: #fff;
  display: flex; /*to make footer at the bottom*/
  flex-direction: column; /*to make footer at the bottom*/
}
th.ex {
  color: rgb(204,0,0);
  font-size: 24px;
}

th.ex {
  color: rgb(204,0,0);
  font-size: 24px;
}

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #222;
  width: 100%;
  flex-shrink: 0;
}
.panel-footer a {
  font-weight: bold;
}
/* END FOOTER */

/*Weather Station Page*/
#main-content {
  margin-left: auto;
  margin-right: auto;
  flex: 1 0 auto; /*to make footer at the bottom*/
}

#weatherStationTitle, #weatherStationInfo  {
  color: gray;
}

.dataBox { 
  position: relative; /*so we can anchor the <span> relatively*/
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.dataBox span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.dataBox:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

/*End of Weather Station Page*/






